<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h1>{{ flatpage.title }} </h1>
    <hr>
    {{ flatpage.content }}
    <hr>
    {{ flatpage.content }}
    <hr>
<h3><em>Показатели:</em></h3>
<table style="height: 209px; width: 559.375px;">
<tbody>
<tr style="height: 31px;">
<td style="width: 56.6875px; height: 31px;">
<h4>№ п/п</h4>
</td>
<td style="width: 108.463px; height: 31px;">
<h4>Работник</h4>
</td>
<td style="width: 98.7px; height: 31px;">
<h4>&nbsp;Поощрения</h4>
</td>
<td style="width: 88.8375px; height: 31px;">
<h4>Взыскания</h4>
</td>
<td style="width: 177.488px; height: 31px;">
<h4>&nbsp; &nbsp; &nbsp; &nbsp;Примечания</h4>
</td>
</tr>
<tr style="height: 31px;">
<td style="width: 56.6875px; height: 31px; text-align: center;">
<h4>1</h4>
</td>
<td style="width: 108.463px; height: 31px;">Надежный</td>
<td style="width: 98.7px; height: 31px; text-align: center;">
<h4><span style="color: #00ff00;">+</span></h4>
</td>
<td style="width: 88.8375px; height: 31px;">&nbsp;</td>
<td style="width: 177.488px; height: 31px;">+ Так как умница</td>
</tr>
<tr style="height: 31px;">
<td style="width: 56.6875px; height: 31px; text-align: center;">
<h4>2</h4>
</td>
<td style="width: 108.463px; height: 31px;">Бестолочь</td>
<td style="width: 98.7px; height: 31px; text-align: center;">&nbsp;</td>
<td style="width: 88.8375px; height: 31px;">&nbsp;</td>
<td style="width: 177.488px; height: 31px;">
<p>Оценке не поддается-балбес</p>
</td>
</tr>
<tr style="height: 31px;">
<td style="width: 56.6875px; height: 31px; text-align: center;">
<h4>3</h4>
</td>
<td style="width: 108.463px; height: 31px;">Умник</td>
<td style="width: 98.7px; height: 31px; text-align: center;">
<h4><span style="color: #00ff00;">+</span></h4>
</td>
<td style="width: 88.8375px; height: 31px;">&nbsp;</td>
<td style="width: 177.488px; height: 31px;">+ Так как "вообще красавчик"</td>
</tr>
<tr style="height: 13.4375px;">
<td style="width: 56.6875px; height: 13.4375px; text-align: center;">
<h4>4</h4>
</td>
<td style="width: 108.463px; height: 13.4375px;">Проклятый</td>
<td style="width: 98.7px; height: 13.4375px;">&nbsp;</td>
<td style="width: 88.8375px; height: 13.4375px; text-align: center;">
<h3><span style="color: #ff0000;">-</span></h3>
</td>
<td style="width: 177.488px; height: 13.4375px;">- Неосознанно, но косячит(церковь бессильна)</td>
</tr>
<tr style="height: 38px;">
<td style="width: 56.6875px; height: 38px; text-align: center;">
<h4>5</h4>
</td>
<td style="width: 108.463px; height: 38px;">Синяк</td>
<td style="width: 98.7px; height: 38px;">&nbsp;</td>
<td style="width: 88.8375px; height: 38px; text-align: center;">
<h3><span style="color: #ff0000;">-</span></h3>
</td>
<td style="width: 177.488px; height: 38px;">- Вроде работает, но пьет(иногда даже глушит)</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</body>
</html>